<h3><%= controller.class %></h3>

<ul>
  <li><%= link_to main_app.root_path, main_app.root_path %></li>
  <li><%= link_to v3.root_path, v3.root_path %></li>
  <li><%= link_to v3.articles_path, v3.articles_path %></li>
</ul>
